$nav-dark: #16191e;
$nav-blue:#59a1eb;
$nav-hover: rgb(202, 215, 243);
$nav-font: 'Roboto Mono', monospace, helvetica;


$text-whitegray: rgb(209, 208, 208);
$text-lightgray: #c0bebe;
$text-gray: #737373;


$searchbar-dropdown: #2d3238;

$input-text: rgb(240, 234, 234);

